{% extends 'fan/base.html' %}
{% block content %}

    <form class="form-inline" method="GET" action="/app/fan/concert/" style="margin-left: 30%;margin-top: 5%">
        <input class="form-control" type="search" aria-label="搜索" name="keyword" style="width:50%"
               {% if keyword %}value="{{ keyword }}"{% endif %} id="search-input">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
    <div class="container mt-5">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2 class="mb-4">演唱会</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>举办时间</th>
                <th>地点</th>
                <th>所属乐队</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for concert in concerts %}
                <tr>
                    <td>{{ concert.id }}</td>
                    <td>{{ concert.name }}</td>
                    <td>{{ concert.date }}</td>
                    <td>{{ concert.location }}</td>
                    <td>{{ concert.band.name }}</td>
                    <td><a href="/app/fan/concert/{{ concert.id }}" class="btn btn-info">查看详情</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}